{% extends 'base.html.twig' %}

{% block title %}Invoices{% endblock %}

{% block body %}
    <div>
        <h1>Invoices</h1>
        {{ form_start(form, {'action': path('api_upload')}) }}

        {{ form_widget(form) }}

        <input type="submit"/>
        {{ form_end(form) }}
    </div>
    <table class="table table-striped">
        <thead><th>ID</th><th>invoice id</th><th>amount</th><th>due on</th><th>Selling Price</th></thead>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.invoiceid }}</td>
                <td>{{ invoice.amount/100 }}</td>
                <td>{{ invoice.dueon|date('Y-m-d') }}</td>
                <td>{{ invoice.sellingprice/100 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}